@{
    ViewBag.Title = "Kayıt İşlemi Tamamlandı";
}

<h2>Kayıt İşlemi Tamamlandı</h2>
<p>
    Kayıt işleminiz tamamlanmıştır. E-Posta adresinize gönderdiğimiz mesajdaki linke tıklayarak, E-Posta adresinizi doğrulayabilirsiniz.
</p>
