@{
    ViewBag.Title = "Şifre Yenileme";
}

<h2>Şifre Yenileme</h2>

@using (Html.BeginForm())
{
    <p>Sisteme kaydolurken kullandığınız e-posta adresini yazınız</p>
    <input type="text" name="EPosta" value="" /><br />
    <input type="submit" name="Submit" value="Gönder" />
}
