<div class="formField">
    <label>
        <input type="radio" id="radiokonut" name="Kategori" value="Konut" checked="checked" />Konut</label><br />
    <label>
        <input type="radio" id="radiodukkan" name="Kategori" value="Dükkan" />Dükkan</label><br />
    <label>
        <input type="radio" id="radioarsa" name="Kategori" value="Arsa" />Arsa</label>
</div>
