<appSettings>
  <add key="emailHost" value="mail.kureselnetwork.com" />
  <add key="emailAccount" value="mvc@kureselnetwork.com"/>
  <add key="emailPort" value="587"/>
  <add key="emailPassword" value="1234"/>
  <add key="emailSSLEnable" value="False"/>
  <add key="securitySalt" value="mvcemlak"/>
  <add key="siteUrl" value="http://localhost:4723"/>
</appSettings>